.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
}

.main ul{
  display: flex;
  flex-wrap: wrap;
}

.main ul li{
  width: 33%;
 list-style: none;
}
.main ul li img{
  max-width: 100%;
}



